*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    background: linear-gradient(to right, #283048, #859398);
    color: #f1f1f1;
    padding: clamp(20px, 5vw, 50px) 10px 10px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
span {
    font-family: Playfar , sans-serif;
    font-size: 15px;
}
.container {
    max-width: 450px;
}
.col {
    background-color: #0d1e50;
    border: 1px solid #fff;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: clamp(12px , 10vw , 70px);
}
.row {
    height: 150px;
}
